@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
    --font-tomorrow: "Tomorrow", sans;

    --color-primary-50: var(--color-violet-50);
    --color-primary-100: var(--color-violet-100);
    --color-primary-200: var(--color-violet-200);
    --color-primary-300: var(--color-violet-300);
    --color-primary-400: var(--color-violet-400);
    --color-primary-500: var(--color-violet-500);
    --color-primary-600: var(--color-violet-600);
    --color-primary-700: var(--color-violet-700);
    --color-primary-800: var(--color-violet-800);
    --color-primary-900: var(--color-violet-900);
    --color-primary-950: var(--color-violet-950);
}
@utility prose {
    @apply max-w-none;

    h1 {
        @apply text-primary-800;
    }
    h2 {
        @apply text-primary-600;
    }
    h3 {
        @apply text-primary-500;
    }
    h4 {
        @apply text-primary-400;
    }
    code {
        @apply text-emerald-600;
    }
}
